<!DOCTYPE html>
<html lang="en">
    <div>
        <h2>Update Your Infomation</h2>

        <div>
            <form name="update_form" action="/api/update" method="post">
            
                <label for="username">Username</label>
                <input type="text" name="username" class="field" value = <%= username %> required>
            
                <label for="fname">First Name</label>
                <input type="text" name="fname" class="field" value = <%= fname %> required>
            
                <label for="lname">Last Name</label>
                <input type="text" name="lname" class="field" value = <%= lname %> required>
                        
                <input type="submit" value="Update Data" class="btn">
            
            </form>
        </div>
    </div>

    <div>
        <h2>Update Your Password</h2>

        <div>
            <form name = "update_password" action = "/api/update_password" method="post">
                <label for="password">Current Password</label>
                <input type="password" name="password" class="field" required>

                <label for="new_password">New Password</label>
                <input type="password" name="new_password" class="field" required>

                <input type="submit" value="Update Password" class="btn">

            </form>
        </div>
    </div>

    <div>
        <h2>Delete Account</h2>

        <div>
            <form action="delete_account" action = "/api/delete_account" method="post">
                <label for="password">Confirm Password for Deletion</label>
                <input type="password" name="password" class="field" required>

                <input type="submit" value="Delete Account" class="btn">
            </form>
        </div>
    </div>
</html>
