@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Work+Sans:wght@300&display=swap');

header {
    font-family:  'Playfair Display';
    background-color: black;
    color: white;
}

.body {
    color: red;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family:  'Playfair Display';
    background-color: black;
    color: white;
}

img {
    margin: auto;
    display: block;
    background-size: 100% 100% !important;
    width: 200px !important;
    height: 200px !important;
}

p {
    font-family:  'Playfair Display';
}

button {
    font-family:  'Playfair Display';
}